@font-face {font-family: 'Swiss721BT-Thin';src: url('fonts/2EA710_0_0.eot');src: url('fonts/2EA710_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/2EA710_0_0.woff2') format('woff2'),url('fonts/2EA710_0_0.woff') format('woff'),url('fonts/2EA710_0_0.ttf') format('truetype');}
@font-face {font-family: 'PalatinoLT-Light';src: url('fonts/2EA710_1_0.eot');src: url('fonts/2EA710_1_0.eot?#iefix') format('embedded-opentype'),url('fonts/2EA710_1_0.woff2') format('woff2'),url('fonts/2EA710_1_0.woff') format('woff'),url('fonts/2EA710_1_0.ttf') format('truetype');}
@font-face {font-family: 'PalatinoLT-Roman';src: url('fonts/2EA710_2_0.eot');src: url('fonts/2EA710_2_0.eot?#iefix') format('embedded-opentype'),url('fonts/2EA710_2_0.woff2') format('woff2'),url('fonts/2EA710_2_0.woff') format('woff'),url('fonts/2EA710_2_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Heavy';src: url('fonts/2EA710_3_0.eot');src: url('fonts/2EA710_3_0.eot?#iefix') format('embedded-opentype'),url('fonts/2EA710_3_0.woff2') format('woff2'),url('fonts/2EA710_3_0.woff') format('woff'),url('fonts/2EA710_3_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Medium';src: url('fonts/2EA710_4_0.eot');src: url('fonts/2EA710_4_0.eot?#iefix') format('embedded-opentype'),url('fonts/2EA710_4_0.woff2') format('woff2'),url('fonts/2EA710_4_0.woff') format('woff'),url('fonts/2EA710_4_0.ttf') format('truetype');}
@font-face {font-family: 'AvenirLTStd-Book';src: url('fonts/2EA710_5_0.eot');src: url('fonts/2EA710_5_0.eot?#iefix') format('embedded-opentype'),url('fonts/2EA710_5_0.woff2') format('woff2'),url('fonts/2EA710_5_0.woff') format('woff'),url('fonts/2EA710_5_0.ttf') format('truetype');}

html, body
{
    margin: 0;
    padding: 0;
}

.font-swiss{font-family: Swiss721BT-Thin;}
.font-plight{font-family: PalatinoLT-Light;}
.font-proman{font-family: PalatinoLT-Roman;}
.font-aheavy{font-family: AvenirLTStd-Heavy;}
.font-amedium{font-family: AvenirLTStd-Medium;}
.font-abook{font-family: AvenirLTStd-Book;}

header
{
    font-family: PalatinoLT-Roman;
    background-color: #1d1d1d;
    padding: 20px 30px;
}

header h4
{
    font-size: 18px;
    margin: 0;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
}

h2
{
    margin: 0;
}

nav
{
    display:inline-block;
    float: right;
}

nav a
{
    font-size: 13px;
    text-transform: uppercase;
    color: #988468;
    text-decoration: none;
    margin-left: 50px;
}

nav a:hover, nav a:active
{
    text-decoration: underline;
}

.container
{
    width: 1280px;
    margin: 0 auto;
}

.home
{
    background-color: #95a2a8;
    text-align: left;
    font-family: PalatinoLT-Light;
}
/*
.home .container
{
    position: fixed;
    top: 60px;
    left: 50%;
    margin-left: -640px;
}
*/
.home div, .home img
{
    display: inline-block;
    vertical-align: middle;
}

.home div
{
    width: 350px;
    margin-top: -100px;
    position: relative;
}

.home img
{
    margin-right: 50px;
}

.home h1
{
    font-size: 75px;
    color: #fff;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}

.home h1 span
{
    font-size: 50px;
    display: block;
    text-transform: capitalize;
}

.home hr
{
    margin: 30px 0;
    width: 100px;
}

.home p
{
    font-size: 25px;
}

.home p.credits
{
    position: absolute;
    bottom: -200px;
}

p.credits
{
    font-size: 12px;
}

p.credits .font-amedium
{
    color: #fff;
}

p.credits .font-amedium
{
    color: #fff;
}

p.credits  .font-swiss
{
    font-size: 14px;
    color: #fff;
    margin: 0 10px;
}

.appreciation
{
    background-color: #f3f3f3;
}

.appreciation h2
{
    text-align: center;
}

.swiper-container {
    width: 750px;
    height: 610px;
}

.swiper-button-prev.swiper-button-gold,
.swiper-container-rtl .swiper-button-next.swiper-button-gold {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23988468'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-gold,
.swiper-container-rtl .swiper-button-prev.swiper-button-gold {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23988468'%2F%3E%3C%2Fsvg%3E");
}
.swiper-pagination-bullet
{
    border-radius: 0;
}
.swiper-pagination-gold .swiper-pagination-bullet-active {
  background: #988468;
  border-radius: 0;
}

