
html, h1, h2, h3, h4{
    font-weight: normal;
    font-family: "Century Gothic", sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 10px;
}

body {
    background: #041f00 url(../Assets/background.png) repeat;
}

#container{
    width: 960px;
    height: inherit;
    margin: 130px auto 0;
    position: relative;
}

header{
    float: left;
}

header h1{
    margin-top: 0;
}

#name h2{
    font-size: 17px;
    text-align: right;
    float: right;
    padding-right: 55px;
    background: url(../Assets/assets.png) no-repeat 150px -42px;
}

#name h2 small{
    display: block;
    font-size: 14px;
}

article{
    text-align: left;
    position: absolute;
    clear: both;
    display: inline-block;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

article p{
    margin: 0;
    padding: 0 0 0 10px;
    font-size: 14px;
}

h3{
    font-size: 18px;
    margin: 10px 0 0 10px;
    /*direction: rtl;
    unicode-bidi: bidi-override;*/
}

h4{
    font-size: 24px;
    position: absolute;
    top: 130px;
    left: 520px;
}

.invisible{
    zoom: 1;
    opacity: 0.00;
    filter: alpha(opacity=50);
    z-index: -3;
}

.selected{
    width: 100% !important;
    height: 100% !important;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    position: absolute;
    top: 0 !important;
    left: 10;
    z-index: 3;
}

.selected .invisible{
    opacity: 1;
    filter: alpha(opacity=1);
    transition: opacity 2s ease-out;
    -webkit-transition: opacity 2s ease-out;
}

#content{
    position: absolute;
    top: 110px;
    width: inherit;
    height: 320px;
}

.break{
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 300px;
    top: 10px;
    left: 490px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.01)), color-stop(30%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(70%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.01) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0.01) 0%,rgba(255,255,255,1) 30%,rgba(255,255,255,1) 50%,rgba(255,255,255,1) 70%,rgba(255,255,255,0) 100%);
}

.arrow{
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(../Assets/assets.png) no-repeat -47px -41px;
    width: 30px;
    height: 30px;
}

/* ================ CONTACT SECTION =============== */

#contact, #about{
    top: 0;
    left: 0;
    height: 100px;
    width: 280px;
    background: #b9493e;
}

.text{
    margin-top: 10px;
    width: 270px;
}

.invisible .text {
    margin-top: 30px;
    width: 400px;
}

#contact form{
    position: absolute;
    top: 0;
    left: 520px;
    width: 440px;
    height: 300px;
}

#contact .row{
    width: 430px;
}

#contact .cell{
    display: inline-block;
    float: left;
    margin: 15px 15px 0 0;
    border: none;
}

#contact label{
    display: block;
    font-size: 15px;
}

#contact form input{
    width: 188px;
    margin: 0;
}

#contact form textarea{
    width: 400px;
    height:68px;
    padding-top: 6px !important;
    resize: none;
}

#contact form input, #contact form textarea{
    border: 1px solid #eb2815;
    padding: 3px 0 3px 6px;
}

#contact form input:focus, #contact form textarea:focus{
    outline: 1px solid red;
}

#contact .button{
    height: 50px;
    width: 100px;
    background: #68A5CE;
    color: #fff;
    padding: 0;
    margin: 0;
    border: none;
}

#contact .button:active{
    background: #5e94bb;
}

/* ================ CONTACT SECTION END =============== */

#about{
    background: #68A5CE;
    top: 110px;
    left: 0;
}

#avatar{
    top: 0;
    left: 290px;
    height: 210px;
    width: 280px;
    background: #fff url(../Assets/avatar.png) no-repeat;
}

#avatar-overlay{
    height: 30px;
    padding-top: 10px;
    margin-top: 170px;
    background: #74D347;
}

#portfolio{
    top: 220px;
    height: 100px;
    width:570px;
    background: #239358;
}

#social{
    left: 580px;
    width: 60px;
    height: 320px;
    background: #68376d;
}

#social a{
    display: block;
    margin: 12px 10px 0;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    float: left;
}

.facebook, .vkontakte, .twitter, .google, .deviantart, .skype{
    background: blue url(../Assets/assets.png) no-repeat 0 0;
}

.vkontakte{background-position: -43px 0;}
.twitter{background-position: -85px 0;}
.google{background-position: -127px 0;}
.deviantart{background-position: -169px 0;}
.skype{background-position: -211px 0;}

#twitter{
    left: 650px;
    padding: 0 10px;
    height: 320px;
    width: 290px;
    background: #c79327;
}