*{
	box-sizing: border-box;
}

html{
	min-height: 100%;
}
body{
	background: #eee;
	margin: 0;
	padding: 0;
	border-top: 10px solid blue;
}

nav, header, main, footer{
	display: block;
	width: 960px;
	margin: 0 auto;
}

nav{
	text-align: center;
}

nav a{
	display: inline-block;
	padding: 10px;
	background: #fff;
}

nav a:link, nav a:visited {
	color: red;
	text-decoration: none;
	cursor: auto;
}

nav a:link:hover, nav a:visited:hover {
	color: black;
}

blockquote{
	margin-left: 20px;
	border-left: 1px solid black;
	padding-left: 20px
}

blockquote cite{
	display: block;
	text-align: right;
}

main{
	background: white;
	width: 960px;
	margin: 0 auto;
	padding: 20px;
	border-left: 10px solid blue;
}

.main-container{
	clear: both;
}

.main-container div{
	display: inline-block;
	width: 33%;
	vertical-align: top;
}

.main-container img{
	display: block;
	width: 50%;
	margin: 0 auto;
	background: #ddd;
	padding-bottom: 50%;
}

.main-container a{
	display: block;
	text-align: center;
	vertical-align: top;
}

.main-container a p{
	height: 3em;
	overflow: hidden;
}

.main-container a:hover p{
	height: auto;
	overflow: visible;
}