html, body{
	height: 100%;
	margin: 0;
	padding: 0;
}

body{
	min-height: 100%;
	background: #002c51;
	background: -moz-radial-gradient(center, ellipse cover,  #002c51 0%, #000307 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  #002c51 0%,#000307 100%);
	background: radial-gradient(ellipse at center,  #002c51 0%,#000307 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002c51', endColorstr='#000307',GradientType=1 );

	color: #fff;
	font-family: Arial;
}

.wrapper{
	width: 100%;
	text-align: center;
}

.image, .text{
	display: block;
	margin: 0 auto;
}

.image img, .text{
	width: 250px;
}

.text p:nth-child(odd){
	text-align: left;
}

.text p:nth-child(even){
	text-align: right;
}

@media all and (min-width: 768px ){
	body{
		position: relative;
	}
	.wrapper{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.wrapper .image, .wrapper .text{
		display: inline-block;
		vertical-align: top;
	}
	.image{
		display: inline-block;
	}
	.image img{
		width: 300px;
	}
	.wrapper .text{
		width: 300px;
		margin-top: 120px;
	}
	.wrapper .text p{
		margin: 0 0 10px 0;
	}
}

@media all and (min-width: 1024px ){
	
}

@media all and (min-width: 1200px ){
	
}