@import url(https://fonts.googleapis.com/css?family=Raleway:600,300);

*{
	box-sizing: border-box;
	-webkit-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

html{
	min-height: 100%;
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	color: #1a1a1a;
}
body{
	width: 100%;
	margin: 0 auto 1.3em;
	padding: 0 1.3em;
}

h1, h2, h3, h4, h5, h6{
	font-weight: 600;
	margin: 0.45em 0;
	font-size: 1.4em;
}

a.text-link{
	position: relative;
	padding-left: 17px;
	margin-left: 5px;
	display: inline-block;
	box-sizing: border-box;
	color: #000;
	text-decoration: none;
}

a.text-link:before{
	position: absolute;
	top: 5px;
	left: 0;
	content: "";
	background-color: #000;
	-webkit-mask-image: url(images/link.svg);
	mask-image: url(images/link.svg);
	-webkit-mask-size: 15px 15px;
	width: 15px;
	height: 15px;
	display: block;
	-webkit-transition: all 400ms 0s ease-in-out;
	transition: all 400ms 0s ease-in-out;
}

a.text-link:hover{
	color: green;
}

a.text-link:hover:before{
	background-color: green;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

a.btn{
	display: inline-block;
	font-size: 1em;
	padding: 0.7em 0.9em 0.6em;
	border: 1px solid red;
	color: #fff;
	background: red;
	text-decoration: none;
}

a.btn:hover{
	background: #fff;
	color: red;
}

p{
	font-size: 1em;
	margin: 0 0 1.35em;
	line-height: 1.6em;
}

/* TODO blockquote */

header, main, footer{
	display: block;
	width: 100%;
	margin: 0 auto;
	vertical-align: top;
}

header nav{
	vertical-align: top;
	display: block;
	text-align: center;
	margin: 0.65em auto 0;
}

header nav a{
	display: inline-block;
	padding: 0.72em 0.85em 0.7em;
	margin-bottom: 5px;
	color: #1a1a1a;
	background: #efefef;
}

header nav a:link, header nav a:visited {
	text-decoration: none;
	cursor: auto;
}

header nav a:link:hover, header nav a:visited:hover {
	color: black;
	padding-bottom: 0.4em;
	border-bottom: 5px solid #e6e6e6;
	transition: none;
}

.title-author{
	display: inline-block;
	text-align: left;
}
.title-author span{
	display: block;
	font-size: 0.6em;
	text-align: right;
	margin-right: -5em;
}

main{
	background: white;
	width: 100%;
	margin: 0 auto;
}

.section-list div{
	width: 100%;
	color: #000;
	margin-bottom: 2.5em;
}

.section-list div img{
	display: block;
	width: 100%;
	border-radius: 100%;
	margin: 0 auto;
}

.section-list div h3{
	text-align: center;
	margin: 1.12em 0 0.85em;
}

.section-list div p{
	text-align: justify;
}

/* RESUME PAGE */

.resume section{
	position: relative;
}

.resume section h2{
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	text-align: center;
	font-weight: 300;
	font-size: 2em;
}

.resume section h2 img{
	display: block;
	width: 100%;
	margin: 1em 0;
}

.resume section article{
	margin: 0 0 40px 240px;
	padding-bottom: 25px;
	border-bottom: 1px dashed #afafaf;
}

.resume section article header{
	content: "";
	display: table;
	clear: both;
}

.resume section article .job-head{
	float: left;
	width: 50%;
}

.resume section article .job-head h3{
	margin-bottom: 0;
}

.resume section article .job-head p{
	font-weight: 600;
}

.resume section article .logo{
	float: right;
	width: 30%;
}

.resume section article .logo img{
	width: 100%;
}

.resume section article a.more{
	display: block;
	text-decoration: none;
	margin: 0 0 1.5em 0;
	color: #1a1a1a;
	font-size: 1.3em;
}

.resume section article a.more:hover{
	text-decoration: underline;
}

.resume section article p.more{
	cursor: pointer;
}

.resume section article div{
	overflow: hidden;
}

.resume section article .hide{
	max-height: 0;
}

.resume section article .show{
	max-height: 500px;
}

/* SKILLA PAGE */

.skills-list{
	content: "";
	display: table;
	clear: both;
}

.skills-list article{
	padding: 20px;
}

.skills-list article img{
	display: block;	
	max-height: 70px;
	margin-bottom: 0.8em;
}

.skills-list article p{
	color: #fff;
	margin-bottom: 0;
}

.skills-list article.html{
	background: #E44D26;
}

.skills-list article.css{
	background: #1572B6;
}

.skills-list article.javascript{
	background: #fdd83c;
}

.skills-list article.javascript p{
	color: #1a1a1a;
}

.skills-list article.sass{
	background: #cd669a;
}

.skills-list article.json{
	background: #2B2B2B;
}

.skills-list article.responsive{
	background: #268A26;
}

.skills-list article.git{
	background: #4e443c;
}

.skills-list article.git p{
	color: #fff;
}

/* PORTFOLIO PAGE */

.portfolio article{
	margin-bottom: 1.25em;
}

.portfolio article .image{
	display: block;
}

.portfolio article .image img{
	display: block;
	width: 100%;
}

.portfolio article .image div{
	display: none;
}

@media all and (min-width: 768px){
	body{
		padding: 0 2.5em;
	}
	header nav{
		display: inline-block;
		float: right;
	}
	.section-list:after{
		content: "";
		display: table;
		clear: both;
	}
	.section-list div, .skills-list article{ /* consider redoing with flexbox instead */
		float: left;
		width: 46%;
		width: calc((100% - 2.5em) / 2);
	}
	.skills-list article{
		margin-bottom: 2.5em;
	}
	.skills-list article p{ /* quick hack, will likely need JS for equal article height */
		height: 140px;
	}
	
	.section-list div:first-of-type, .skills-list article:nth-of-type(odd){
		margin-right: 2.5em;
	}
	.section-list div:last-of-type{
		margin-left: 2.5em;
	}
	.portfolio article{
		margin-bottom: 2.5em;
	}
}

@media all and (min-width: 1024px){
	.section-list div{
		width: 20%;
		width: calc((100% - 10em) / 4);
		margin: 0 1.25em;
	}
	.section-list div:first-of-type{
		margin-right: 1.25em;
	}
	.section-list div:last-of-type{
		margin-left: 1.25em;
	}
	.skills-list article{
		width: 28%;
		width: calc((100% - 7.5em) / 3);
		margin: 0 2.5em 2.5em 0;
	}
	.skills-list article:nth-of-type(3n+3){
		margin-right: 0;
	}

	.portfolio article{
		position: relative;
		margin-bottom: 3.75em;
	}
	.portfolio article:after{
		content: "";
		display: table;
		clear: both;
	}
	.portfolio article .image, .portfolio article .content{
		width: calc(50% - 1.25em);
	}
	.portfolio article .image{
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		bottom: 0;
		overflow: hidden;
	}
	.portfolio article .image img{
		display: none;
	}
	.portfolio article .image div{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.portfolio article .image div{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.portfolio article .content{
		float: right;
	}

	.portfolio article:nth-child(even) .image{
		left: auto;
		right: 0;
	}

	.portfolio article:nth-child(even) .content{
		float: left;
	}
}

@media all and (min-width: 1280px){
	body{
		padding: 0 100px;
	}
	.portfolio article{
		position: relative;
		margin-bottom: 5em;
	}
}

@media all and (min-width: 1600px){
	body{
		padding: 0 200px;
	}
}

@media all and (min-width: 1900px){
	body{
		padding: 0 400px;
	}
}